  		.heading {
		  font-size: 14px;
  line-height: 20px;
  color: #333333;
                }
                 .heading2 {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
                }       
                 .heading3 {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
                 background-color:#eeeeee;
                }
            
              .heading4 {
  font-size: 14px;
  line-height: 20px;
  color: #333333;			  
                color: black;
                }
            
             .heading5 {
			   font-size: 14px;
  line-height: 20px;
  color: #333333;

                }                       
                
               .bkgr {

                background-color:#B0C4DE; color:black ;
                padding-left: 0.5em}            

            
            .boxes {color: black; }
